services:
  backend:
    build: ./workshop-backend   
    container_name: mern-backend
    ports:
      - "5000:5000"
    env_file:
      - ./workshop-backend/.env  
    depends_on:
      - mongodb
    restart: unless-stopped

  frontend:
    build: ./frontend
    container_name: mern-frontend
    ports:
      - "5173:80"
    depends_on:
      - backend
    restart: unless-stopped

  mongodb:
    image: mongo:7.0
    container_name: mern-mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db   # Persistent MongoDB storage
    restart: unless-stopped

volumes:
  mongo-data:
